@using ZapTrapBugTrack.Models
@using ZapTrapBugTrack.Services

@model ZapTrapBugTrack.Models.Ticket

@inject IBTFileService ImageFileService

@{
    ViewData["Title"] = "Details";
}


<div class="col-md-6 mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">

                Ticket Details
            </h1>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <dl class="row">
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.Title)</dt>
                <dd class="col-lg-7">  @Html.DisplayFor(model => model.Title)</dd>
                <dt class="col-lg-5">  @Html.DisplayNameFor(model => model.Created)</dt>
                <dd class="col-lg-7"> @Html.DisplayFor(model => model.Created)</dd>
                <dt class="col-lg-5">@Html.DisplayFor(model => model.Updated)</dt>
                <dd class="col-lg-7"> @Html.DisplayFor(model => model.Updated)</dd>
                <dt class="col-lg-5"> @Html.DisplayNameFor(model => model.Project)</dt>
                <dd class="col-lg-7"> @Html.DisplayFor(model => model.Project.Name)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.TicketType)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.TicketType.Name)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.TicketPriority)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.TicketPriority.Name)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.TicketStatus)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.TicketStatus.Name)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.OwnerUser)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.OwnerUser.FullName)</dd>
                <dt class="col-lg-5"> @Html.DisplayNameFor(model => model.DeveloperUser)</dt>
                <dd class="col-lg-7">  @Html.DisplayFor(model => model.DeveloperUser.FullName)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card -->
    </div>
    <!-- ./col -->
</div>




@* Ticket Comments *@
<div class="Card">
    <div class="card-header">
        <h4>Create a Comment</h4>
    </div>
    <form asp-action="Create" asp-controller="TicketComments">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">

                    <input type="hidden" asp-for="@Model.Id" name="TicketId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Comments" class="control-label"></label>
                        <textarea id="comment" name="comment" class="form-control"></textarea>
                        <span for="Comments" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="mt-3">
    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" name="TicketId">

        <div class="media-body ml-3">
            <label class="form-label d-block mb-2">Add Attachment</label>
            <label>
                Description
                <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
            </label><br />
            <label class="btn btn-outline-primary btn-sm">
                <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
            </label>
            <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
        </div>
    </form>
</div>


@foreach (var item in Model.Comments)
{
    <div class="row">
        <div class="col-xl-10">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <div class="col">@Html.DisplayFor(modelItem => item.User.FullName)</div>
                    </h3>
                    <div class="col">
                        <h6> @Html.DisplayFor(modelItem => item.Created)</h6>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(modelItem => item.Ticket.Description)
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col">

                    </div>
                    <div class="col">
                        @Html.Raw(item.Comment)
                    </div>
                </div>

                <!-- /.card-body -->
                <div class="card-footer">
                    <a asp-controller="TicketComments" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="TicketComments" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="TicketComments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>

            </div>
            <!-- /.card -->
        </div>
    </div>

}

@* Ticket Attachments *@
<div class="card">
    <div class="card-header">
        <h4> Attachments </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            File
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Ticket
                        </th>
                        <th>
                            User
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attachments)
                    {
                        <tr>
                            <td>
                                <img src="@ImageFileService.ConvertByteArrayToFile(item.FileData, item.FileName)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Id)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*<div>
    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" name="TicketId">


        <div class="media-body ml-3">
            <label class="form-label d-block mb-2">Add Attachment</label>
            <label>
                Description
                <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
            </label><br />
            <label class="btn btn-outline-primary btn-sm">
                <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
            </label>
            <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
        </div>
    </form>
</div>*@

<div class="row clearfix">
    @foreach (var item in Model.Attachments)
    {
        <div class="col-sm-2">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <img src="@ImageFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                            <small>Size: @ImageFileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    }


    @*<div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Comment
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Ticket
                        </th>
                        <th>
                            User
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>
                                @Html.Raw(item.Comment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>*@



    @* Ticket History(Read Only)*@

    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ticket History</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    Property Name
                                </th>
                                <th>
                                    Old Value
                                </th>
                                <th>
                                    New Value
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Ticket
                                </th>
                                <th>
                                    User
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Histories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Property)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OldValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ticket.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Id)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    @* Step 2: List all of the comments already created for this Post *@


    <hr />

    @*@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
        {
            <div class="row">
                <div class="col">
                    @comment.User.FullName
                </div>
                <div class="col">
                    @comment.Created.ToString("MMM dd, yyyy")
                </div>
                <br />
            </div>
            <div class=" row">
                <div class=" col">
                    @comment.Comment
                </div>
            </div>}*@


    @section scripts{
        <script>
            $(document).ready(function () { $("#comment").summernote(); })


        </script>

        @*---vv* jsgrid code *vv---*@



    }



