@model ZapTrapBugTrack.Models.DashboardViewModel
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-primary">
            <div class="inner">
                <h5>Tickets: @ViewBag.Hold</h5>

                <p>Priority: Hold</p>
            </div>
            <div class="icon">
                <i class="fas fa-pause-circle"></i>
            </div>
            <a data-toggle="modal" data-target="#holdModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h5>Tickets: @ViewBag.Low</h5>

                <p>Priority: Low</p>
            </div>
            <div class="icon">
                <i class="fas fa-bug"></i>
            </div>
            <a data-toggle="modal" data-target="#lowModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h5>Tickets: @ViewBag.Medium</h5>

                <p>Priority: Medium</p>
            </div>
            <div class="icon">
                <i class="fas fa-bug"></i>
            </div>
            <a data-toggle="modal" data-target="#mediumModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h5>Tickets: @ViewBag.High</h5>

                <p>Priority: High</p>
            </div>
            <div class="icon">
                <i class="fas fa-bug"></i>
            </div>
            <a data-toggle="modal" data-target="#highModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h5>Tickets: @ViewBag.Urgent</h5>

                <p>Priority: Urgent</p>
            </div>
            <div class="icon">
                <i class="fas fa-bug"></i>
            </div>
            <a data-toggle="modal" data-target="#urgentModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-2 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h5>Tickets: @ViewBag.Critical</h5>

                <p>Priority: Critical</p>
            </div>
            <div class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <a data-toggle="modal" data-target="#criticalModal" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->

<section class="content">

    <div class="row">
        <div class="col">


            <!-- DONUT CHARTS -->
            <div class="card card-purple">
                <div class="card-header">
                    <h3 class="card-title">Zap-Trap Stats</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                       
                       
                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <h6>Ticket Status Chart</h6>
                            <canvas id="TicketStatusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <div class="col">
                            <h6>Ticket Priority Chart</h6>
                            <canvas id="TicketPriorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                        <div class="col">
                            <h6>Ticket Type Chart</h6>
                            <canvas id="TicketTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>

                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="card card-cyan collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Projects Quick-View</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
               
            </div>
        </div>
        <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> Name</th>
                        <th> Company</th>
                        <th> Description</th>
                        <th> ImageFileName</th>
                        <th> ImageFileData</th>
                        <th> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Projects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageFileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageFileData)
                            </td>
                            <td>
                                <a class="btn btn-warning mb-2" asp-action="Edit" asp-route-id="@item.Id">Editing</a>
                                <a class="btn btn-info mb-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-danger mb-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card card-purple collapsed-card">
        <div class="card-header">
            <h3 class="card-title">Tickets Quick-View</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table" id="example1">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                           Project
                        </th>
                        <th>
                           TicketType
                        </th>
                        <th>
                            TicketPriority
                        </th>
                        <th>
                            TicketStatus
                        </th>
                        <th>
                           OwnerUser
                        </th>
                        <th>
                            DeveloperUser
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                            </td>
                            <td>
                                <a class="btn btn-warning mb-2" asp-action="Edit" asp-route-id="@item.Id">Editing</a>
                                <a class="btn btn-info mb-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn-danger mb-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</section>

@*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Modal Code>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@


<!-- Modal -->
<div class="modal fade" id="criticalModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Critical Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countCritical = 0; }
                @foreach (var ticket in ViewBag.ListCritical)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countCritical % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countCritical++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="urgentModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Urgent Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countUrgent = 0; }
                @foreach (var ticket in ViewBag.ListUrgent)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countUrgent % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        @if (ticket.OwnerUser is not null)
                                        {
                                            <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                        }
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countUrgent++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="highModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">High Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countHigh = 0; }
                @foreach (var ticket in ViewBag.ListHigh)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countHigh % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countHigh++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="mediumModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Medium Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countMedium = 0; }
                @foreach (var ticket in ViewBag.ListMedium)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countMedium % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countMedium++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="lowModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Low Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countLow = 0; }
                @foreach (var ticket in ViewBag.ListLow)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countLow % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countLow++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="holdModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hold Ticket Quick-View</h4>
            </div>
            <div class="modal-body bg-dark">

                @{int countHold = 0; }
                @foreach (var ticket in ViewBag.ListHold)
                {
                    var devName = "";
                    if (ticket.DeveloperUser == null)
                    {
                        devName = "No Developer";
                    }
                    else
                    {
                        devName = ticket.DeveloperUser.FullName;
                    }
                    @if (countHold % 2 == 0)
                    {
                        <div class="row border-bottom bg-gray">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row border-bottom bg-light">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-6">
                                        <label>Title:</label> @ticket.Title <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Project Name:</label> @ticket.Project.Name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Type:</label> @ticket.TicketType.Name <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Status:</label> @ticket.TicketStatus.Name <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Created By:</label> @ticket.OwnerUser.FullName <br />
                                    </div>
                                    <div class="col-6">
                                        <label>Developer</label> @devName <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 mt-2">
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                    }
                    countHold++; //count = count + 1
                }
            </div>
            <!--end modal body-->
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
</div>




@* Obsolete Code *@

@*<table class="table" id="example1">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Project
                </th>
                <th>
                    TicketType
                </th>
                <th>
                    TicketStatus
                </th>
                <th>
                    OwnerUser
                </th>
                <th>
                    DeveloperUser
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListCritical)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Project.Name
                    </td>
                    <td>
                        @item.TicketType.Name
                    </td>
                    <td>
                        @item.TicketStatus.Name
                    </td>
                    <td>
                        @item.OwnerUser.FullName
                    </td>
                    <td>
                        @if (item.DeveloperUser != null)
                        {
                            @item.DeveloperUser.FullName
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Go <i class="fa fa-arrow-circle-right"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@