@model ZapTrapBugTrack.Models.Company

@{
    ViewData["Title"] = "Details";
}


<h5 class="mt-4 mb-2">Company Details</h5>

<div class="row">
    <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card card-info">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3"> @Html.DisplayFor(model => model.Name)</h3>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
            <div class="card-footer">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Go to Edit</a> 
                <a class="btn btn-info float-right" asp-action="Index">Back to List</a>
            </div>
        </div>
        <!-- ./card -->
    </div>
    <!-- /.col -->
    
</div>
<!-- /.row -->

<!-- END CUSTOM TABS -->
@*<h1>Details</h1>

    <div>
        <h4>Company</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>*@
