@model ZapTrapBugTrack.Models.Project
@using ZapTrapBugTrack.Services
@inject IBTProjectService projectService
@{
    ViewData["Title"] = "Details";
}


<div class="col-md-6 mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">

                Project Details
            </h1>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <dl class="row">
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.Company)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.Company.Id)</dd>
                <dt class="col-lg-5">Team Members</dt>
                <dd class="col-lg-7">

                    @foreach (var user in Model.Members)
                    {
                        <p>@user.FullName</p>
                    }
                </dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.ImageFileName)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.ImageFileName)</dd>
                <dt class="col-lg-5">@Html.DisplayNameFor(model => model.ImageFileData)</dt>
                <dd class="col-lg-7">@Html.DisplayFor(model => model.ImageFileData)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <div>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-info float-right" asp-action="Index">Back</a>
            </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card -->
    </div>
    <!-- ./col -->
</div>