@model IEnumerable<ZapTrapBugTrack.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Project Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>

               
            </th>
            <th>
              
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
   
</table>


@* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> *@



<html lang="en">
<body>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.Name)</th>
                                        <th> @Html.DisplayNameFor(model => model.Company)</th>
                                        <th>  @Html.DisplayNameFor(model => model.Description)</th>
                                        <th> @Html.DisplayNameFor(model => model.ImageFileName)</th>
                                        <th> @Html.DisplayNameFor(model => model.ImageFileData)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Company.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ImageFileName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ImageFileData)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.card-body -->
    <!-- /.card -->
    <!-- Page specific script -->
    @section scripts{


        <script>
            $(function () {
                $("#example1").DataTable({
                    "responsive": false, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
        </script>
    }
</body>
</html>
