@model IEnumerable<ZapTrapBugTrack.Models.Invite>

@{
    ViewData["Title"] = "Index";
}




<div class="card card-info">
    <div class="card-header">
        <h4>Invites Index</h4>
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-info" asp-action="Create">Create New Invitation</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyToken)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InviteDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsValid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Invitor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Invitee)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyToken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InviteDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsValid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Invitor.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Invitee.Id)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editing</a> 
                            <a class="btn btn-info"asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>